<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission to access accelerometer sensor -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BODY_SENSORS" /> <!-- Microphone permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Storage permissions -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Vibration permission -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Alarm permission -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" /> <!-- Foreground Service permission (required from Android 10 and later) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeSleep"
        tools:targetApi="31">
        <activity
            android:name=".SleepPostureActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".DoctorSuggestions"
            android:exported="false" />
        <activity
            android:name=".DoctorRecords"
            android:exported="false" />
        <activity
            android:name=".GraphActivity"
            android:exported="false" />

        <service android:name=".SleepRecords" />

        <activity
            android:name=".AutomaticCallActivity"
            android:exported="false" />
        <activity
            android:name=".SleepPreferences"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".SleepRecords"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".StartSleep"
            android:exported="false" />
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SleepwalkerHome"
            android:exported="false" />
        <activity
            android:name=".RegisterDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>